<!-- src/app/components/sidebar/sidebar.component.html -->
<nav id="sidebar">
    <div class="sidebar-header">
        <img src="../../../assets/sidear-logo.png" alt="Logo">
    </div>
    <ul class="list-unstyled components">
        <li>
            <a routerLink="/message">
                <lucide-angular name="send" class="my-icon"></lucide-angular>Message 
            </a>
        </li>
        <li>
            <a routerLink="/dashboard">
                <lucide-angular name="instagram" class="my-icon"></lucide-angular>Instagram
            </a>
        </li>
        <li>
            <a routerLink="/dashboard">
                <lucide-angular name="youtube" class="my-icon"></lucide-angular>YouTube
            </a>
        </li>
        <li>
            <a routerLink="/dashboard">
                <lucide-angular name="x" class="my-icon"></lucide-angular>Twitter
            </a>
        </li>
        <li>
            <a routerLink="/dashboard">
                <lucide-angular name="log-out" class="my-icon"></lucide-angular>Logout
            </a>
        </li>
    </ul>
</nav>
